@page 
@model IndexModel
@{
    var statusMessage = TempData["StatusMessage"] as string;
    ViewData["title"] = "Danh sách users";
}
<div class="container d-md-flex justify-content-center">
    <div class="mt-5">
        <div class="alert alert-link p-0">
            <a asp-page="./index">@ViewData["title"]</a>
        </div>
        <partial name="_AlertMessage" model="@statusMessage" />
        <div class="d-flex flex-grow">

            <form class="d-flex mx-2">
                <input class="form-control me-2" type="search" placeholder="Tên tài khoản" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <a class="btn btn-primary" asp-area="Identity" asp-page="./Create">+ Tạo mới</a>
        </div>
        <table class="table">
            <thead>
                <tr class="text-primary">
                    <th scope="col">Tên</th>
                    <th scope="col">Vai trò</th>
                    <th scope="col">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.users)
                {
                    <tr>
                        @if (string.IsNullOrEmpty(item.UserRoles))
                        {
                            <th scope="row">@item.UserName<br /><p class="text-danger">Chưa có</p></th>
                        }
                        else
                        {
                            <th scope="row">@item.UserName<br /><p class="text-primary">(@item.UserRoles)</p></th>
                        }

                        <td><a asp-route-id="@item.Id" asp-area="Identity" asp-page="./AddRole" class="link-primary">+ Cập nhật</a></td>
                        <td>
                            <a asp-area="Identity" asp-page="./Edit" asp-route-id="@item.Id">Đổi mật khẩu</a>@Html.Raw("&emsp;")
                            <a asp-area="Identity" asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @await Component.InvokeAsync("Paging", Model.pagingModel)
    </div>
   
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}